form{clear:both;}

.form_text_desc{ width: 300px; }

div.growlUI { background: url(/images/success.png) no-repeat 10px; height: 70px; }
div.growlUI h1, div.growlUI h2 {
	color: white; padding: 25px 5px 5px 75px; text-align: left; font-size: 1em !important;
}

